# .npmrc
# 公共包 官方源
registry=https://registry.npmjs.org/
# 私有包 内网源
@gengjjjjj:registry=https://registry.npmjs.org

# 关闭 peer dependency 检查，若声明了 peerDependencies，但未在项目中安装，pnpm 会报错。
strict-peer-dependencies=false
# 自动安装 peer dependencies
auto-install-peers=true
# 扁平化 peer dependencies，避免重复安装相同的 peer dependencies
dedupe-peer-dependents=true

# 精准提升常用 CLI 和插件宿主
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*